/* Palette */
:root {
  --color-dark: #b33791;
  --color-mid-dark: #c562af;
  --color-mid: #db8dd0;
  --color-light: #f6a9e0;
  --color-soft: #fec5f6;
}

html,
body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Headings */
h1,
.title-text {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 700;
}

//Material Inputs & Buttons */
.mat-mdc-form-field,
.mat-mdc-input-element,
.mat-mdc-button,
.mat-mdc-raised-button {
  font-family: "Inter", sans-serif !important;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-up { animation: fadeInUp 0.6s ease-out; }


.button-content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Adjust icon size to match text */
.button-icon {
  font-size: 20px;
  line-height: 1;
}

/* Spinner color matches button text (white) */
.mat-spinner {
  color: white !important;
}
